/* ----------------------------- Vibes App |  Main CSS ------------------------*/

// ------------------------------  Font CSS ------------------------------------
// ---------------------------------------------------------------------------*/ 

@font-face
{
    font-family: Raleway_200;
    src: url(font/Raleway-Thin.ttf);
}

@font-face
{
    font-family: Raleway_300;
    src: url(font/Raleway-Light.ttf);
}

@font-face
{
    font-family: Raleway_400;
    src: url(font/Raleway-Regular.ttf);
}

@font-face
{
    font-family: Raleway_500;
    src: url(font/Raleway-Medium.ttf);
}

body
{
    font-family: 'Raleway_200', sans-serif;
    color: #000;
    background-color: #FFFFFF;
}


h1, h2, h3, h4
{
    font-family: 'Raleway_200', sans-serif;
    /* padding-top: 5px; */
    color: #000;
}

p, a
{
    font-family: 'Raleway_300', sans-serif;
}

li a 
{
    font-family: 'Raleway_300', sans-serif !important;
}

/* ------------------------------------------------------------------------------------------
// ------------------------------  Login Form CSS -------------------------------------------
// ----------------------------------------------------------------------------------------*/ 

#loginForm {
    padding-top: 64px;
}

/* Sets the password input and title input fields */
#password-clear 
{
    display: none;
}

/* Set the form inputs CSS */
input[type='text']
{
    font-family: 'Raleway_300', sans-serif !important;
}

#loginType .ui-controlgroup, fieldset.ui-controlgroup
{
    margin: 0 74px;
    width: 100%;
}

#formErrorMsg
{
    color: RGBA(255, 119, 0, 1);
    background-color: RGBA(247, 205, 7, .5);
    opacity: .9;
}

#loginUnder p 
{
    padding: 10px;
}

.orangeBackground
{
    color: RGBA(255, 119, 0, 1) !important;
    background-color: RGBA(247, 205, 7, .5) !important;
}

/* ------------------------------------------------------------------------------------------
// ------------------------------  Splash Screen CSS ----------------------------------------
// ----------------------------------------------------------------------------------------*/ 

.img100
{
    width: 100%;
    height: 100%;
}

/* ------------------------------------------------------------------------------------------
// ------------------------------  Map Div CSS ----------------------------------------------
// ----------------------------------------------------------------------------------------*/  

#mapPage
{
    overflow: hidden;
}

.maps {
    position: relative;
    top: 0;
    min-height: 700px;
    width: 100%;
    height: 120%;
}

/* ------------------------------------------------------------------------------------------
// ------------------------------  Popup Bg  ------------------------------------------------
// ----------------------------------------------------------------------------------------*/ 

.popUpBg
{
    background-image: url("../images/emojiEnter.png");
    background-repeat: no-repeat;
    background-color: #fff;
    opacity: .8;
    width: 280px;
    height: 330px;
    margin: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* ------------------------------------------------------------------------------------------
// ------------------------------  Filter Form  ------------------------------------------
// ----------------------------------------------------------------------------------------*/ 

#filterForm {
    margin: 0 auto;
    padding: 0;
    color: #9e9e9e;
    letter-spacing: 0.1em; 
    font-weight: lighter;
}

#filterForm .ui-controlgroup, fieldset.ui-controlgroup {
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------------------------------------------
// ------------------------------  Emoji Selection  ------------------------------------------
// ----------------------------------------------------------------------------------------*/ 

#emojiSearchBar {
    position: absolute;
    background-color: rgba(255,255,255,.9);
    top: -100%;
    width: 100%;
    left: 0;
    text-align: center;
}

#emojiSearchBar img {
    width: 20%;
}

.filterOff {
    opacity: .25;
}

/* ------------------------------------------------------------------------------------------
// ------------------------------  Profile Page  ------------------------------------------
// ----------------------------------------------------------------------------------------*/ 
.profileHeader
{
    position: fixed;    
    z-index: 1000;
    width: 100%;
    padding-top: 20px;
    height: 88px; 
    background-image: url(../images/profile/profileBack_3.svg);
    top: 0;
    left: 0;    
}

.profileHeader a {
    float: right;


}
.profileNavImg {

    float: right;
}

.profileHeader img {
    width: 33%;
    height: 44px; 

}

.profileTab {
    position: relative;
    top: 108px;
    width: 100%;
    color: #9e9e9e;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 0.3em;
}

#honeyProfileTab {
    position: absolute;
    top: 108px;
    height: 460px;
    width: 100%;
    overflow:auto;
}

/* ------------------------------------------------------------------------------------------
// ------------------------------  Panel Menu  ------------------------------------------
// ----------------------------------------------------------------------------------------*/ 

.left-panel 
{
    margin-top: 0px;
    background-color: #b2b2b2;
    padding-top: 15px;
}

.left-panel-btn
{
    width: 46px;
    margin: 0 auto;
    padding-left: 3em;
}

/* ------------------------------------------------------------------------------------------
// ------------------------------  Emoji Selection #emojiSelectPage ---------------------------------
// ----------------------------------------------------------------------------------------*/ 

#emojiSearchBar h3 {
    padding-bottom: 10px;
    color: #9e9e9e; 
}

#emojiPostSelectParent {
    position: absolute;
    background-color: rgba(255,255,255,.9);
    top: 200px;
    left: -100%;
    width: 100%;
}

#parentEmojiSelect {
    color: #9e9e9e; 
    letter-spacing: 0.3em; 
    font-weight: lighter;
    text-align: center;
}

#parentEmojiSelect h2 {
    padding-bottom: 10px;
    color: #9e9e9e; 
}

.emojiParent {
    width: 20%;
    margin: 0 auto;
}

.emojiParent img {
    width: 20%;
}

#canvasBuffer {
    width: 100%;
    height: 64px;
}

/* ------------------------------------------------------------------------------------------
// ------------------------------  emoji panel ---------------------------------
// ----------------------------------------------------------------------------------------*/ 


#insertButtons
{
    position: absolute;
    top: 400px;
    left: 0; 
    width: 320px;
    background-color: #ffffff;
    z-index: 15;
}

#lower 
{
    position: relative;
    padding-top: 0px;
}

#upper
{
    background-color: #ffffff;
}

#bar 
{
    padding: 0px;
    background-color: #ffffff;
    color: #ffffff;
}

#panel 
{
    display: none;
    background-color: #ffffff;
    padding: 0px;
}

#tabs.ui-tabs 
{
    padding: 0;
}

.tabEmoji
{
    background-color: #E2E2E2;    
}

.addEmoji
{
    height: 30px;
    width: 30px;
    padding: 7.5px 0 7.5px 14px;
}

.emojiRender
{
    padding: 5px;
}

.pad50
{
    margin-top: 50px;
}

/* -----------------------------------------------------------------------------
// ------------------------------  Button / Input  CSS  --------------------------
// ---------------------------------------------------------------------------*/ 

#settingsPage .content-wrap .buttonStyles,  
#emotionPostPage .content-wrap .buttonStyles {
    color: #9e9e9e; 
    letter-spacing: 0.3em; 
    font-weight: lighter;
    text-align: center;
}

#settingsPage .content-wrap input, select, label {
    color: #9e9e9e;
}

#settingsPage .collapseDiv {
    padding: 0 20%;
}